*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-main {
  background-color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(67, 67, 67);
}
